/* Day 1 of A1136: Spatial Data and the Internet */
body {
    background-color: blanchedalmond;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

p {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
}

#day1_header {
    width: 746px;
    height: 325px;
    background-image: url('../images/isleofwight_grass_red.png');
}

#day1_title {
    height: 280px;
}

#day1_intro {
    margin-left: 10px;
}