/*
  Home page for A1136: Spatial Data and the Internet

  Image copied from http://www.visitisleofwight.co.uk/acoustic-isle 
  and edited to remove the text, colour changed to lilac
*/
body {
    background-color: palevioletred;
}

p {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

#index_header {
    width: 770px;
    height: 400px;
    position: relative;
}

#index_title {
    float: right;
    height: 280px;
    width: 150px;
    margin: 10px 10px 0px 0px;
    word-wrap: break-word;
    line-height: 40px;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg); /* IE 9 */
    -webkit-transform: rotate(9deg); /* Safari and Chrome */
}

#index_intro {
    margin-left: 10px;
    position: absolute;
    bottom: 20px;
    left: 5px;
    font-size: 12px;
    line-height: 10px;
}

#progression_map {
    width: 600px;
    height: 400px;
    margin-left: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#assignment {
    text-shadow: 4px 4px 4px #aaa;
}
