/*
  Home page for A1136: Spatial Data and the Internet

  Image copied from http://www.visitisleofwight.co.uk/acoustic-isle 
  and edited to remove the text, colour changed to lilac
*/
body {
}

p {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

#index_header {
    width: 770px;
    height: 400px;
    position: relative;
}

#index_title {
    float: right;
    height: 280px;
    width: 150px;
    margin: 10px 10px 0px 0px;
    word-wrap: break-word;
    line-height: 40px;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg); /* IE 9 */
    -webkit-transform: rotate(9deg); /* Safari and Chrome */
}

#index_intro {
    margin-left: 10px;
    position: absolute;
    bottom: 20px;
    left: 5px;
    font-size: 12px;
    line-height: 10px;
}

#progression_map {
    width: 600px;
    height: 400px;
    margin-left: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#day_article {
    margin: 0 auto;
    white-space: nowrap;
}

p.day_para {
    width: 140px;
    height: 75px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

a.day {
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 150px;
    line-height: 20px;
}

#day1 {
    background-image: url('../images/day1_chevron.png');
}

#day2 {
    background-image: url('../images/day2_chevron.png');
}

#day3 {
    background-image: url('../images/day3_chevron.png');
}

#day4 {
    background-image: url('../images/day4_chevron.png');
}

#day5 {
    background-image: url('../images/day5_chevron.png');
}

span.day_text {
    text-align: center;
    margin-left: 10px;
    position: absolute;
    bottom: 2px;
    right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 15px;
    height: 30px;
    width: 110px;
}

#assignment {
    text-shadow: 4px 4px 4px #aaa;
}
